$black: #000;
$white: #FFF;

$bg-primary: $white;
$bg-secondary: #F0F3FF;

// ACCENT COLORS
$accent1: #FF005C;
$accent2: #5036FF;
$accent3: #7B23FF;
$accent4: #0261FF;
$accent5: #00D2B3;
$accent6: #8FF22F;
$accent7: #FEF300;
